<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"></h1>
            <h3 class="mb-5">
                <em></em>
            </h3>
            {{#if user}}
            {{else}}

            <h4>Casos asignados a <b>{{user.adviser_name}} {{user.adviser_lastname}}</b> <b>{{sname}}</b></h4>


        </div>
        <div class="card-body">
            {{#each cases as |tr|}}
            <a style="display: block; text-decoration: none;color: inherit; " href="sectors?id_case={{tr.id_case}}">
                <div class="card mb-3 p-1">
                    <div class="card-body ">
                        <h5 class="card-title">Caso N° {{tr.id_case}}- {{tr.status_name}}</h5>
                        <p class="card-text text-start">
                            <b>Fecha del caso:</b> {{tr.case_date}} <br>
                            <b>Numero de sectores:</b> {{nsectors}} <br>
                            <b>Nombre del cliente:</b> {{tr.client_name}} {{tr.client_lastname}} <br>
                            <b>Rut:</b> {{tr.client_rut}} <br>
                            <b>Dirección:</b> {{tr.client_address}} <br>


                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago </small></p>
                    </div>
                    <div class="row text-center">
                        {{#or tr.case_img1 tr.case_img2}}
                        {{#if tr.case_img1}}
                        <div class="col-2 w-50  image-container">
                            <img id="imagebox1" class="card-img-bottom  w-90rounded-1 "
                                src="img_t/thumb_{{tr.case_img1}}" class="miniatura">
                            <a href="myinsp?id_case={{tr.id_case}}&case_img=case_img1&imageName={{tr.case_img1}}"
                                class="delete-btn"><i class="fa-solid fa-xmark m-auto"></i></a>
                        </div>
                        {{/if}}
                        {{#if tr.case_img2}}
                        <div class="col-2 w-50 image-container">
                            <img id="imagebox2" class="card-img-bottom w-90 rounded-1 "
                                src="img_t/thumb_{{tr.case_img2}}" class="miniatura">
                            <a href="myinsp?id_case={{tr.id_case}}&case_img=case_img2&imageName={{tr.case_img2}}"
                                class="delete-btn"><i class="fa-solid fa-xmark"></i></a>
                        </div>
                        {{/if}}
                        {{else}}
                        <form action="/myinsp" method="POST" enctype="multipart/form-data">

                            <div class="row" style="text-align: center; margin: auto;">
                                <div class="col-2 w-50 p-1">
                                    <label for="files_"><i class="fa-solid fa-image elemento1 "
                                            style="transform: scale(2);" id="icono1"></i></label>
                                    <input id='files_' type="file"
                                        style="visibility:hidden; width: 2px; padding: 0; margin:0" name="image"
                                        id="image" accept="image/*">
                                </div>
                                <div class="col-2 w-50 ">
                                    <label for="files_1"><i class="fa-solid fa-image elemento2"
                                            style="transform: scale(2);" id="icono2"></i></label>
                                    <input id='files_1' type="file"
                                        style="visibility:hidden; width: 2px; padding: 0;margin=0" name="image1"
                                        id="image1" accept="image/*">
                                </div>
                                <div class="container-fluid m-100">
                                    <button id="submitBtn" class="btn btn-primary w-100 mt-10 mb-10" disabled><i
                                            class="fa-solid fa-upload "></i></button>
                                </div>

                            </div>

                            <input type="hidden" name="id_case" value={{tr.id_case}}>
                        </form>
                        <div id="imagenCompletaContenedor" class="imagen-completa-contenedor" style="display: none;">
                            <span>&times</span>
                            <img src="" id="imagenCompleta">

                        </div>

                        {{/or}}
                    </div>
                </div>
            </a>
            {{/each}}








            {{/if}}
        </div>
        <div class="overlay"></div>
    </header>
</main>