<div class="container p-4">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card text-center">
                <div class="card-body" align="left">
                     <table class="table table-hover">
                        <thead>
                            <h1>Adviser</h1>
                            <hr class="hr" />
                        </thead>
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{user.adviser_name}} {{user.adviser_lastname}}</td>
                         
                        </tr>
                        <tr>
                            <td>Rut</td>
                            <td>{{user.adviser_rut}}</td>
                         
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td>{{user.adviser_username}}</td>
                           
                        </tr>
                        <tr>
                            <td>Birthday</td>
                            <td>{{user.adviser_birthday}}</td>
                           
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>{{user.adviser_email}}</td>
                           
                        </tr>
                                                <tr>
                            <td>Phone</td>
                            <td>{{user.adviser_phone}}</td>
                           
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{user.adviser_role}}</td>
                           
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>