{{#if user}}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<div class="container p-10">
  <div class="row">

    <div class="col-md-7 mx-auto" align="left">
      <a href="/myinsp?id_adviser={{user.id_adviser}}"><i class="fa-solid fa-arrow-left-long"
          style="margin-left: 0;"></i>Volver a Casos</a>
      <div class="card text-center">
        <div class="card-header" align="left">
          <h4>Recintos en caso N° <b>{{vcase}}</b></h4>
          <p>
          <div class="sd"> <b>Nombre Asesor: </b>{{user.adviser_name}}&nbsp;{{user.adviser_lastname}}</div>
          </p>
          <p>
          <div class="sd"> <b>Nombre Asegurado: </b>{{#client_data}}{{this.vname}} {{this.vlastname}}{{/client_data}}
          </div>
          </p>
          <p>
          <div class="sd"> <b>Dirección: </b>{{#client_data}}{{this.vaddress}}{{/client_data}}</div>
          </p>

        </div>
        <div class="card-body" id="ttk">

          {{#action_repairs as |ar|}}
          {{#if ar.id_sector}}
          <div class="card mb-3 p-1 shadow-sm">
            <div class="card-body">
              <h5 class="card-title text-capitalize">{{sector_name}} </h5>
              <p class="card-text text-start">
                <b>Recinto N°:</b> {{id_case}}.{{id_sector}} <br>
                <b>Numero de daños:</b> {{ndamages}} <br>
                <b>Dimensiones:</b> ancho: {{ar.sector_w_size}} alto: {{ar.sector_h_size}} largo:
                {{ar.sector_l_size}}<br>
                <a href="../damages?id_case={{ar.id_case}}&id_sector={{ar.id_sector}}"><i class="fas fa-edit"></i></a>
                <a onclick="deleteRegConfirm(event,'/delsector?id_case={{ar.id_case}}&id_sector={{ar.id_sector}}&return=sectors?id_case={{ar.id_case}}')"
                  href="#"><i class="fa-solid fa-trash-can"></i></a>

                {{#if img1}}
              <div class="col w-100 image-container ">
                <img class="thumbnail card-img-bottom  w-100 rounded-3 " src="img_t/thumb_{{img1}}"
                  data-full-image="img_w/{{img1}}" data-full-image2={{#if img2}}"img_w/{{img2}}"{{else}}""{{/if}}
                  id="imagebox1" onclick="showImage(this)">
              </div>
              {{/if}}

              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>

          </div>



          {{else}}

          Aún no se han agregado sectores

          {{/if}}

          {{/action_repairs}}

          <div id="imagenCompletaContenedor" class="imagen-completa-contenedor" style="display: none;">

            <img src="" id="imagenCompleta">
            <span onclick="closeModal()">&times</span>
            <a class="prev" onclick="changeImage(-1)">&#10094;</a>
            <a class="next" onclick="changeImage(1)">&#10095;</a>
             </div>


          <div id="form3" style="display:none;">

            <form action="/sectors" method="POST" enctype="multipart/form-data">

              <select class="form-select" aria-label=".form-select-lg example" name="id_sector">
                {{#each rowSectors}}{{this.id_sector}}<option value="{{this.id_sector}}" placeholder="Largo"
                  selected="true">{{this.sector_name}}</option>{{/each}}
              </select>

              <input type="Number" step="0.1" class="form-control" id="sector_l_size" name="sector_l_size" placeholder="Largo">


              <input type="Number" step="0.1" class="form-control" id="sector_w_size" name="sector_w_size" placeholder="Ancho">


              <input type="Number" step="0.1" class="form-control" id="sector_h_size" name="sector_h_size" placeholder="Alto">


              <label for="files_" class="form-control" style="margin-bottom: -34px; "><i
                  class="fa-solid fa-image"></i></label>
              <input id='files_' class="form-control" type="file" style="visibility:hidden;" name="image"
                accept="image/*">



              <label for="files_1" class="form-control" style="margin-bottom: -34px; "><i
                  class="fa-solid fa-image"></i></label>
              <input id='files_1' class="form-control" type="file" style="visibility:hidden;" name="image1"
                accept="image/*">



              <input type="hidden" name="id_case" id="id_case" value="{{vcase}}">
              <button class="btn btn-success btn-block form-control" type="submit" id="upload_" disabled><i
                  class="fa-solid fa-check"></i></button>


            </form>
          </div>
          <br />
          <a href="#form3" id="toggleButton">Agregar Sectores</a>



        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
{{/if}}